page-home {

}
/*
.toolbar-background {
    background-color: rgb(21, 0, 152);
}

ion-title {
    color: white;
}
*/
ion-card {
    border-radius: 10px !important;
    padding-top: -5px !important;
}

ion-card-title {
    padding-bottom: 20px !important;
}

span.spinner > div {
    float: right;
}

ion-col.line, ion-col.destination {
    text-align: left;
}

ion-col.line > span {
    font-weight: bold;
    color: white;
    border: 1px solid black;
    padding: 4px;
}

ion-col.destination > span {
    text-transform: capitalize;
}

ion-col.time {
    text-align: right;
}

ion-row {
    min-height: 27px;
}

ion-icon.delete {
    padding-left: 10px;
}

span.warning {
    text-align: justify;
    color: #6e6e6e;
}

span.notifier {
    padding-right: 10px;
}

.card-content-md {
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 13px;
    padding-right: 16px;
    font-size: 1.4rem;
    line-height: 1.5;
}