<ion-header>
  <ion-navbar>
    <ion-title>
      AutoPorto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid justify-content-center align-items-center style='height: 100%'>
    <ion-row justify-content-center align-items-center style='height: 100%'>
      <ion-col col-12>
        <form (ngSubmit)="submitSearch($event)">
          <ion-searchbar #stopInput [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}"
            [showCancelButton]="true" placeholder="Código da paragem" (ionCancel)="clearSearch($event)">
          </ion-searchbar>
        </form>
        <ng-container *ngIf="listStops.length > 0">
          <ion-card *ngFor="let item of listStops">
            <ion-card-content>
              <ion-card-title class="ion-align-items-center">
                <span item-left>
                  {{ item.title }}
                </span>
                <ng-container *ngIf="item.isRefreshing">
                  <span class="spinner" item-right>
                    <div>
                      <ion-spinner item-right name="crescent"></ion-spinner>
                    </div>
                  </span>
                </ng-container>
                <ng-container *ngIf="!item.isRefreshing">
                  <span class="spinner" item-right>
                    <div>
                      <ion-icon name="trash" (click)="deleteStop(item)"></ion-icon>
                    </div>
                  </span>
                </ng-container>
              </ion-card-title>
              <ng-container *ngIf="item.buses.length > 0">
                <ion-list *ngFor="let bus of item.buses">
                  <ion-row>
                    <ion-col size="1" class="line"><span [style.background-color]="bus.getColor()">{{ bus.line }}</span>
                    </ion-col>
                    <ion-col size="9" class="destination"><span>{{ bus.destination }}</span></ion-col>
                    <ion-col size="2" class="time">{{ bus.time }}</ion-col>
                  </ion-row>
                </ion-list>
              </ng-container>
              <ng-container *ngIf="item.buses.length == 0 && !item.isRefreshing">
                <span class="warning">
                  Sem autocarros previstos nos próximos 60 minutos
                </span>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>