<!--<ion-header>
  <ion-navbar color='primary'>
    <ion-title color='light'>
      AutoPorto
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <ion-grid justify-content-center align-items-center style='height: 100%; justify-content: center;'>
    <ion-row justify-content-center align-items-center padding-bottom>
      <ion-col col-12 text-center>
        <img src="assets/imgs/logo-bw.png" height="150px"/>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col col-12>
        <form>
          <ion-grid justify-content-center align-items-center padding-bottom style='height: 100%'>
            <ion-row justify-content-center align-items-center style='height: 100%'>
              <ion-col col-10>
                <ion-searchbar #stopInput [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}"
                  [showCancelButton]="true" placeholder='{{"stopcode" | translate}}' (ionCancel)="clearSearch($event)" (search)="submitSearch($event)">
                </ion-searchbar>
              </ion-col>
              <ion-col col-2>
                <ion-buttons>
                  <button ion-button type="button">
                    <ion-icon name="barcode" (click)="scanBarcode()"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center align-items-center *ngIf="firstLoad || nearbyStops.length > 0">
              <ion-col text-center col-12>
                <ng-container *ngIf="firstLoad">
                  <ion-spinner name="crescent"></ion-spinner>
                  <p>{{"locatingNearby" | translate}}</p>
                </ng-container>
                <ng-container *ngIf="!firstLoad">
                  <ion-buttons text-center>
                    <button type="button" *ngFor="let nearby of nearbyStops" ion-button round outline (click)="addStop(nearby)">
                      {{ nearby }}
                    </button>
                  </ion-buttons>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <ng-container *ngIf="listStops.length > 0">
          <ion-card *ngFor="let item of listStops">
            <ion-card-content>
              <ion-card-title class="ion-align-items-center">
                <ng-container *ngIf="!item.isNearby">
                  <span item-left>
                    {{ item.title }}
                    <ion-icon class="delete" name="trash" (click)="deleteStop(item)"></ion-icon>
                  </span>
                </ng-container>
                <ng-container *ngIf="item.isNearby">
                  <span item-left>
                    {{ item.title }}
                    <ion-icon class="delete" name="ios-navigate-outline"></ion-icon>
                  </span>
                </ng-container>
                <ng-container *ngIf="item.isRefreshing">
                  <span class="spinner" item-right>
                    <div>
                      <ion-spinner item-right name="crescent"></ion-spinner>
                    </div>
                  </span>
                </ng-container>
                <ng-container *ngIf="!item.isRefreshing">
                  <span class="spinner" item-right>
                    <div>
                      <!--<span class="notifier">
                        <ng-container *ngIf="!item.isNotifying">
                          <ion-icon name="notifications-off" (click)="toggleNotifications(item)"></ion-icon>
                        </ng-container>
                        <ng-container *ngIf="item.isNotifying">
                          <ion-icon name="notifications" (click)="toggleNotifications(item)"></ion-icon>
                        </ng-container>
                      </span>-->
                      <ion-icon name="refresh" (click)="refreshStops(item.title)"></ion-icon>
                    </div>
                  </span>
                </ng-container>
              </ion-card-title>
              <ng-container *ngIf="item.buses.length > 0">
                <ion-list *ngFor="let bus of item.buses">
                  <ion-row>
                    <ion-col col-2 class="line"><span [style.background-color]="bus.getColor()">{{ bus.line }}</span></ion-col>
                    <ion-col col-6 class="destination"><span>{{ bus.destination }}</span></ion-col>
                    <ng-container *ngIf="bus.time == 'a passar'">
                      <ion-col col-4 class="time blink">{{ bus.time }}</ion-col>
                    </ng-container>
                    <ng-container *ngIf="bus.time != 'a passar'">
                      <ion-col col-2 class="remaining"><span>{{ bus.timeRemaining }}</span></ion-col>
                      <ion-col col-2 class="time">{{ bus.time }}</ion-col>
                    </ng-container>
                  </ion-row>
                </ion-list>
              </ng-container>
              <ng-container *ngIf="item.buses.length == 0 && !item.isRefreshing">
                <span class="warning">
                  {{ "noBusWarning" | translate }}
                </span>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>